@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 1100px;
  margin: 0 auto;
}

.box {
  margin: 0 auto;
}

.size {
  width: 400px;
  height: 400px;
}

.box300 {
  width: 300px;
  height: 300px;
  position: relative;
}

.margin-change {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blue {
  background: #0008ff;
}

.margin-blue {
  margin-right: 150px;
}

.green {
  background: #22ff00;
}

.red {
  background: #ff0000;
}

.float {
  width: 600px;
  margin: 0 auto;
}

.float-red, .float-blue {
  float: left;
}

.orange {
  background: #ff8400;
}

.flex-reverse, .flex-change {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.rime {
  background: #00ff51;
}

.yellow {
  background: #d4ff00;
}

.pink {
  background: #ff00e1;
}

.appear {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.blue-appear {
  display: none;
}

@media screen and (max-width: 759px) {
  .size {
    width: 200px;
    height: 200px;
  }

  .color-change {
    background: #007bff;
  }

  .margin-blue {
    margin-right: 50px;
  }

  .float-red {
    float: none;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .rime:first-child {
    order: 2;
  }
  .yellow:nth-child(2) {
    order: 3;
  }
  .pink:last-child {
    order: 1;
  }

  .blue-appear {
    display: flex;
  }

  .red-appear {
    display: none;
  }
}